<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacobbieker.exoplanets">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <activity
            android:name="com.jacobbieker.exoplanets.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name="com.jacobbieker.exoplanets.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.jacobbieker.exoplanets.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacobbieker.exoplanets.ui.MainActivity" />
        </activity>

        <service
            android:name=".database.GitHub_Service"
            android:exported="false"/>

        <meta-data android:name="DATABASE" android:value="exoplanets.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.jacobbieker.exoplanets.beans" />


    </application>

</manifest>
